container_commands:
  02_composer_dependencies:
    command: /usr/bin/composer.phar self-update
  03_composer_dependencies:
    command: /usr/bin/composer.phar install
  04_update_doctrine:
    command: php app/console doctrine:schema:update --force --env=prod
    leader_only: true
  05_clear_cache:
    command: php app/console cache:clear --env=prod
